.top-bar {
  position: absolute;
  top:0px; right: 0px; left: 0px;
  height: 50px;
  background-color: var(--bdz-primary-color);
  display: flex; flex-direction: column; justify-content: space-around; align-items: center;
  color: white;
  font-weight: bold;
  .invite-logo {
    position: absolute;
    top: 0px; bottom: 0px; right: 10px; height: 50px;
    display: flex; flex-direction: column; justify-content: space-around; align-items: center;
  }
}

.bottom-bar {
  position: absolute;
  bottom:0px; right: 0px; left: 0px;
  height: 50px;
  background-color: var(--bdz-background-alt1-color);
  display: flex; flex-direction: row; justify-content: space-around; flex-grow: 1; flex-basis: 100px;
  .tab {
    height: 100%;
    width: 100%;
    display: flex; flex-direction: row; justify-content: space-around; align-items: center;
    .fake-tab {
      height: 20px; width: 20px;
      border-radius: 50%;
      background-color: var(--bdz-primary-light-color);
    }
  }
  .tab.active {
    border-top: solid 2px var(--bdz-primary-color);
    .fake-tab {
      background-color: var(--bdz-primary-color);
    }
  }
}

.finger {
  position: absolute;
  top: calc(150px + 65px); left: calc(50px + 15px);
  height: 30px; width: 30px;
  border-radius: 50%;
  background: rgba(black, 0.5);
  border: solid 2px black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.container {
  position: absolute;
  top: 65px; bottom: 125px; left: 15px; right: 15px;
  z-index: 2;
  .card {
    position: absolute;
    top: 0px; bottom: 0px; left: 0px; right: 0px;
    padding: 5px;
    background-color: var(--bdz-background-alt2-color);
    display: flex; justify-content: space-around; flex-direction: column; align-items: center;
    text-align: center;
    div { opacity: 0; }
  }
}

.buttons {
  position: absolute;
  bottom: 65px; left: 20px; right: 20px; height: 50px;
  display: flex; justify-content: space-around; flex-direction: row;
  div { width: 50px; height: 50px; border-radius: 50%; }
  .like { background-color: var(--bdz-primary-color); }
  .dislike { background-color: var(--bdz-warning-color); }
}

.element-details {
  position: absolute;
  bottom: -110%; right: 0px; left: 0px;
  height: 100%;
  background-color: white;
  border-top: 2px solid var(--bdz-primary-color);
  z-index: 3;
  .direct-link {
    margin: 10px;
    padding: 5px;
    color: grey;
    font-weight: bold;
    border: solid 1px grey;
  }
  .share-provider {
    display: flex; justify-content: space-around; flex-direction: row;
    .provider { height: 60px; width: 60px; }
  }
}