<div class="full-container">
  <div class="top-bar">
    <div class="search-title">Ma recherche</div>
    <img class="invite-logo" alt="icone permettant d'inviter des utilisateurs dans une recherche" src="assets/invite.png">
  </div>
  <div #cardsAndFinger class="container">
    <div #firstCard class="card">
      <div #messageIdeas>On vous propose des idées.</div>
      <div #messageSwipeRight>Swipez à droite si elles vous intéressent (ou cliquez sur le bouton vert)...</div>
      <div #messageSwipeLeft>Swipez à gauche sinon (ou le bouton rouge)&nbsp;!</div>
      <div #messageConclusion>Des proches en proches, nous serons plus pertinents&nbsp;!</div>
    </div>
  </div>
  <div class="buttons">
    <div #dislikeButton class="dislike"></div>
    <div #likeButton class="like"></div>
  </div>
  <div class="bottom-bar">
    <div class="tab active"><div class="fake-tab"></div></div>
    <div class="tab"><div class="fake-tab"></div></div>
    <div class="tab"><div class="fake-tab"></div></div>
    <div class="tab"><div class="fake-tab"></div></div>
  </div>
  <div #elementDetails class="element-details">
    <div class="element-content">
      <div class="direct-link">lien direct</div>
      <div class="share-provider">
        <img class="provider" alt="logo whatsapp" #whatsapp src="assets/whatsapp.png"/>
        <img class="provider" alt="logo facebook" src="assets/facebook.png"/>
        <img class="provider" alt="logo hangout" src="assets/hangout.png"/>
      </div>
    </div>
  </div>
  <div #finger class="finger"></div>
</div>