<div class="landing">
  <a class="bdz-logo-link" href="https://buddiz.io"><img class="bdz-logo" alt="logo de buddiz en blanc" src="assets/buddiz_white.png"/></a>
  <div class="slogan">
    <h1 class="header"><span class="highlight bddiz-title">Buddiz</span><br/>pour choisir des trucs avec des gens</h1>
    <hr class="intro-divider">
  </div>
  <div class="our-uc">
    <h3 class="redirect">Se lancer</h3>
    <div class="list-uc">
      <a href="https://app.buddiz.io/%23/home/streaming">
        <div class="uc">
          <img class="uc-logo" alt="icone du cas d'usage [trouver un film ou une série] - blanc" src="assets/streaming_white.svg"><span class="uc-title">Film et séries</span>
        </div>
      </a>
      <a href="https://app.buddiz.io/%23/home/hangout">
        <div class="uc">
          <img class="uc-logo" alt="icone du cas d'usage [trouver une idée de sortie avec ses amis] - blanc" src="assets/resto_white.svg"><span class="uc-title">Restaurants</span>
        </div>
      </a>
      <a href="https://app.buddiz.io/%23/home/firstName">
        <div class="uc">
          <img class="uc-logo" alt="icone du cas d'usage [trouver un prénom] - blanc" src="assets/prenom_white.svg"><span class="uc-title">Prénom</span>
        </div>
      </a>
    </div>
  </div>
</div>
<app-padded-container class="section killer-features">
  <p>Tu dois choisir un truc avec des gens&nbsp;?<br/> Fini la prise de tête&nbsp;!<br/> <span class="reverse-highlight">Implique tout le monde tout de suite&nbsp;!</span></p>
  <div class="informations">
    <div class="info">
      <img class="logo" alt="icone montrant la fonctionnalité sociale de Buddiz" src="assets/join.svg"/>
      <div>
        <div class="title">Rejoignez-vous sur Buddiz</div>
        <div class="description">Pas besoin de compte : quelqu'un crée la recherche, partage le lien... Et tout le monde participe facilement&nbsp;!</div>
      </div>
    </div>
    <div class="info">
      <img class="logo" alt="icone expliquant que Buddiz ses suggestions à vos envies"src="assets/inspire.svg"/>
      <div>
        <div class="title">Laissez-vous inspirer</div>
        <div class="description">Touchez pas le syndrôme de la page blanche&nbsp;? Pas de problème : tout est prévu pour découvrir les idées qui plairont à tous&nbsp;!</div>
      </div>
    </div>
    <div class="info">
      <img class="logo" alt="icone expliquant la fonctionnalité de vote" src="assets/vote.svg"/>
      <div>
        <div class="title">Donnez votre avis</div>
        <div class="description">Pas besoin de débattre sur tout&nbsp;! On vous propose un système de vote simple pour vous mettre d'accord.</div>
      </div>
    </div>
    <div class="info">
      <img class="logo" alt="icone indiquant que Buddiz permet de suivre les scores en live" src="assets/result.svg"/>
      <div>
        <div class="title">Découvrez le résultat</div>
        <div class="description">Vous êtes notifiés quand il y a de l'action, et pouvez voir les choix se mettre à jour en live&nbsp;!</div>
      </div>
    </div>
  </div>
</app-padded-container>
<app-padded-container class="section">
  <h2>Comment ça fonctionne&nbsp;?</h2>
  <app-how-to></app-how-to>
</app-padded-container>
<app-padded-container class="section">
  <h2>Vous cherchez...</h2>
  <app-our-usecases class="section"></app-our-usecases>
</app-padded-container>