<div class="landing">
  <div class="slogan">
    <h1 class="header"><span class="highlight bddiz-title">Buddiz</span><p>Pour choisir <span class="highlight"><app-auto-updating-text [charChangeTimer]="50" [stringChangeTimer]="1000" [availableValues]="['un resto', 'un spectacle', 'un ailleurs']"></app-auto-updating-text></span>&nbsp;!</p></h1>
    <hr class="intro-divider">
    <h2 class="header"><span class="highlight">Coming soon... <br/>On remplit la base de données, un peu de patience</span></h2>
  </div>
</div>
<app-padded-container class="section">
  <h2>D'autres choix à faire&nbsp;? (disponibles, ceux-là...)</h2>
  <app-our-usecases [usecaseToHide]="['sortie']"></app-our-usecases>
</app-padded-container>