<div class="full-container">
  <div class="top-bar">
    <div class="search-title">Ma recherche</div>
    <img class="invite-logo" alt="icone permettant d'inviter des utilisateurs dans une recherche" src="assets/invite.png">
  </div>
  <div class="container">
    <div #topCard class="card"><div #topMessage>Votez pour l'élément que vous préférez...</div></div>
    <div class="fake-vs-button"></div>
    <div #bottomCard class="card"><div #bottomMessage>... à travers une succession de duels&nbsp;!</div></div>
    <div #finger class="finger"></div>
  </div>
  <div class="bottom-bar">
    <div class="tab"><div class="fake-tab"></div></div>
    <div class="tab active"><div class="fake-tab"></div></div>
    <div class="tab"><div class="fake-tab"></div></div>
    <div class="tab"><div class="fake-tab"></div></div>
  </div>
</div>
  